<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    {%if user.is_authenticated %}
        <div>
            <form action='{% url "search" %}'>

                <input type="text" placeholder="search" name="searched">
                <button type="submit">search</button>
            
            </form>
        </div>
        <a href="{% url 'user_logout' %}">logout</a>
        <a href="{% url 'courses_list' %}">courses_list</a>
        {% if  user.is_staff %}
            <a href="{% url 'add_course' %}">add course</a>
        {% endif %}
    {% endif %}
</body>
</html>



